%div.round{id: dom_id(round)}
  %div= round.description

  %div.plays.playingCards
    - round.plays.each do |play|
      = render play

  %div
    %h1 Create Play
    = render partial: 'plays/form', locals: {round: round, play: round.plays.build}

    -#- if round.plays.find_by_user_id(session[:user_id]).blank?

      %h1 Create Play
      = render partial: 'plays/form', locals: {round: round, play: round.plays.build}
