:ruby
  players   = @game.users.where observer: false
  observers = @game.users.where observer: true

#user_kick_list
  - if players.any?
    %h5 Players:

    %ul
      - @game.users.where(observer: false).each do |user|
        %li
          = user.name
          = kick_link user

  - if observers.any?
    %h5 Observers:

    %ul
      - @game.users.where(observer: true).each do |user|
        %li
          = user.name
          = kick_link user
