%div.panel.panel-default
  %div.panel-heading
    %h3.text-center.panel-title
      Join point poker game:
      = @game.name

  %div.panel-body
    What's your name?

  %div.panel-footer
    = render partial: 'form', locals: { game: @game, user: @user }
