%div.panel.panel-default
  %div.panel-heading
    %h3.text-center.panel-title What's your name?

  %div.panel-body
    Choose a name for your team members to identify you.

  %div.panel-footer
    = render partial: 'form', locals: { game: @game, user: @user }
