!!!
%html
%head
  = render 'head'
%body
  %div.jumbotron
    %div.container-fluid
      %h1
        Point Poker
        %small
          estimating for agile teams
      %p
        Let's get started:

        %ol
          %li Create a game
          %li Enter some stories
          %li Share the url to your team members

      %div
        = render 'quick_start_form'
