%div.panel.panel-default
  %div.panel-heading
    %h3.text-center.panel-title Create a game

  %div.panel-body
    Choose a name for the work to be estimated. For example:

    %ul
      %li Add credit card processing
      %li Build json api
      %li Improve data warehouse performance

  %div.panel-footer
    = form_for(@game) do |f|
      - error_messages_for @game

      %div.form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'

      = f.submit class: 'btn btn-primary'
