@import "bootstrap-sprockets";
@import "bootstrap";
@import "playing_cards";

.playingCards .play, .playingCards .choice {
  display: inline-block;
}

.playingCards .choice {
  cursor: pointer;
}

.playingCards ul.hand {
  height: 6em;
  margin-bottom: 1em;
}
