<!DOCTYPE html>
<html>
<head>
  <title>PointPoker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <div class="playingCards">
          <div class="card rank-8 spades">
            <span class="rank">8</span>
            <span class="suit">&spades;</span>
          </div>
        </div>
      </div>
      <div class="col-xs-8">8</div>
    </div>

  <%= yield %>
  </div>

</body>
</html>
